server:
  port: 9999
spring:
  cloud:
    gateway:
      routes:
        - id: backend-app-1
          uri: http://backend-app-1
          predicates:
            - Path=/test1/**
        - id: backend-app-2
          uri: http://backend-app-2
          predicates:
            - Path=/test2/**
        - id: backend-app-3
          uri: http://backend-app-3
          predicates:
            - Path=/test3/**
logging:
  level:
    root: INFO